@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/static/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(/static/inconsolata.woff) format('woff');
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
code {
    background-color: #F5F5F5;
    font-family: 'Inconsolata', sans-serif;
    font-size: 100%;
}
pre {
    background-color: #F5F5F5;
    font-family: 'Inconsolata', sans-serif;
    font-size: 95%;
}
header {
    margin: 0 auto;
    width: 80%;
}
footer {
    text-align: right;
    font-size: 85%;
}
.main {
    width: 70%;
    margin: 0 auto;
}
#logo {
    float: left;
    height: 55px;
    padding-right: 30px;
}
a:link {
    text-decoration: underline;
    color: #CD5C5C;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: underline;
    color: #CD5C5C;
}
h1 {
    margin-bottom: -5px;
}
h1 a:link {
    text-decoration: none;
    color: inherit;
}
h1 a:hover {
    text-decoration: none;
    color: inherit;
}
h1 a:visited {
    text-decoration: none;
    color: inherit;
}
h1 a:active {
    text-decoration: none;
    color: inherit;
}
